@import 'sassStyles/variables';

.AvailabilityWrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    span {
        font-size: 1rem;
        color: $textOnDarkColor;
    }
}

.AvailabilityWrapperContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.GridButtonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; /* Optional, just to ensure default value is overridden */
    gap: 1rem;
    align-items: center;
    width: 100%;
    @media (max-width: 767px) {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.AvailabilityHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 40rem;
    max-width: 90%;
    height: 100%;
    box-sizing: border-box;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: $textOnDarkColor;
        max-width: 90%;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        background: linear-gradient(45deg, $secondaryColor1 0%, $secondaryColor2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}