@import '../../sassStyles/variables';

.topBarContainer {
    display: flex;
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(10,20,31,0.75);
    backdrop-filter: blur(5px);
    // opacity: 50%;
    padding: 1rem;
    box-sizing: border-box;
}