@import '../../../../sassStyles/variables';

.CalendarWrapper {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 310px;
    gap: 2.5rem;
}

.MonthHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    height: 1.5rem;
    color: #E06461;
}

.MonthHeader--chevron {
    height: 1.5rem;
    width: auto;
    color: #FFFCE8;
    cursor: pointer;
}

.MonthHeader--textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.CalendarDaysContainer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 0.75rem;

    .CalendarDayCheckbox {
        appearance: none;
        width: 2.125rem;
        height: 2.125rem;
        border: 1px solid #e6e6e6;
        // background-color: rgba(255,255,255, 0.05);
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: rgba(255,255,255, 0.1);
        }

        &:checked {
            background-color: #E06461;
            border: none
        }
    }

    .CalendarDayLabel {
        position: absolute;
        transform: translate(-100%, 50%);
    }
}

.WeekDayText {
    width: 2.125rem;
    text-align: center;
}