@import '../../sassStyles/variables';

.contentLayoutContainer {
    display: flex;
    flex-direction: column;
    background-color: $backgroundDarkColor;
    z-index: 2;
    // @media only screen and (max-width: 640px) {
    //     overflow-x: scroll;
    // }
}
