// background colors
$backgroundLightColor: #FFFCE8;
$backgroundDarkColor: #101319;
$backgroundDarkColorHover: #0F1E2E;
$backgroundDarkColorHover2: #1D2B3B;

// text colors
$textOnLightColor: #101319;
$textOnDarkColor: #F7F7F9;

// primary colors
$primaryColor1: rgba(255, 120, 79, 1);
$primaryColorHover: rgba(255, 120, 79, 0.6);
$primaryColorDeselect: rgba(255, 120, 79,0.4);

// secondary colors
$secondaryColor1: #FF784F; // gradient color
$secondaryColor2: #FF784F; // gradient color
$secondaryColor3: #FF784F; // button outline color

// input colors
$inputOnDarkColor: #1E262E;
$inputOnLightColor: #EDE9D6;

// hover colors
$hoverOnDarkColor: #b1b1b1; // hover color
$hoverOnLightColor: #23282e; // hover color
