// background colors
$backgroundLightColor: #0F1E2E;
$backgroundDarkColor: #0A141F;


// text colors
$textLightColor: #0A141F;
$textDarkColor: #F9F9F9;


// primary colors
$primaryLightColor1: #EC4067;
$primaryDarkColor1: #EC4067;

$primaryLightColor1: #925097;
$primaryDarkColor1: #925097;


// secondary colors
$secondaryLightColor1: #D7D6D7;
$secondaryDarkColor1: #0F1E2E;