@import '../../../sassStyles/variables';

.Wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WrapperContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.TitleInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div {
        display: grid;
        grid-template-rows: 1fr 1.25rem;
        gap: 1rem;
        font-size: 1rem;
        font-weight: 400;
    }
}

.TitleInput {
    appearance: none;    
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem;
    width: 26rem;
    text-align: center;
    box-sizing: border-box;
    color: white;
    background-color: $gray;

    @media only screen and (max-width: 640px) {
        width: 90vw;
    }
}

.ErrorInput {
    // border: 1px solid $errorBorderColor;
    background-color: $errorBackgroundColor;
    color: $errorTextColor;
}

.ErrorMsg {
    color: $errorBorderColor;
    width: 100%;
    text-align: center;
}

input::placeholder {
    color: #b8b8b8;
    opacity: 1;
}

.ColumnWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    @media only screen and (max-width: 640px) {
        flex-direction: column;
    }
}