@import 'sassStyles/variables';

.DayCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.125rem;
    height: 2.125rem;
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 1rem;
    font-weight: 300;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    &:hover {
        background-color: rgba(255,255,255, 0.2);
        color: white;
    }
}

.DayCheckbox-current {
    color: white;
}

.DayCheckbox-notCurrent {
    color:rgba(255,255,255, 0.3)
}

.DayCheckbox-selected {
    background-color: #E06461 !important;
    border: none;
}