@import 'sassStyles/variables';

.LegendWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.LegendBox {
    display: flex;
    height: 1.5rem;
    width: 11rem;

    & > div {
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;
    }
}