@import '../../sassStyles/variables';

.mainWrapper {
    display: flex;
    flex-direction: column;
    color: $textOnDarkColor;
    background: $backgroundDarkColor;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}