@import 'sassStyles/variables';

.DetailsWrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 1rem;

    @media (max-width: 767px) {
        align-items: center;
        display: flex;
        padding: 0;
        flex-direction: column;
        position: fixed;
        top: 100px;
        height: calc(100vh - 100px);
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        background-color: $grayTransparent;
        backdrop-filter: blur(8px);
    }
}

.Details {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    // padding: 1rem ;
    gap: 1rem;
    z-index:100;
    // overflow-y: scroll;
    // flex: 1;

    h1 {
        font-size: 1.125rem;
        font-weight: 600;
    }


}

.DetailsHandle {
    width: 100%;
    padding: 1rem 0;
    gap: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    background-color: $gray;
    border-radius: 1rem 1rem 0 0;

    @media (min-width: 767px) {
        display: none;
    }

    div {
        background-color: rgb(153, 153, 153);
        border-radius: 0.5rem;
        width: 4rem;
        height: 0.25rem;
    }
}

.DetailsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
    margin-bottom: 0.5em;

    @media (max-width: 767px) {
        width: 100%;
        align-items: center;
    }

    h2 {
        font-weight: 800;
        font-size: 1.25rem;
        background: linear-gradient(0deg, $secondaryColor1 0%, $secondaryColor2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        font-size: 1rem;
        font-weight: 400;
    }
}

.DetailsContent {
    display: flex;
    flex-direction: column;
    // align-items: start;
    width: 360px;
    height: 0px;
    // align-content: space-between;

    @media (max-width: 767px) {
        align-items: center;
        height: calc(100vh - 100px - 2.5rem - 2rem - 1rem - 1rem - 86px);
    }
}

.DetailsContentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    // gap: 3rem;

    @media (max-width: 767px) {
        width: 100%;
        gap: 0;
    }

    div {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.DetailsContentColumns {
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-sizing: border-box;
    height: 100%;

    @media (max-width: 767px) {
        width: 100%;
        justify-content: space-between;
    }

    div {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        gap: 0.4rem;
        font-size: 1rem;
        font-weight: 300;

        @media (max-width: 767px) {
            align-items: center;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}
