@import 'sassStyles/variables';

.DetailsWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 4rem;
    padding-top: 4rem;
    box-sizing: border-box;
    justify-content: start;

    @media (max-width: 767px) {
        width: 100%;
        height: 100vh;
        // max-height: 100vh;
        // transform: translate(0, 500px);
        top: 100px;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        display: flex;
        position: fixed;
        bottom: 0;

        .DetailsHandle {
            display: flex;
            width: 100%;
            height: 2rem;
            justify-content: center;
            align-items: center;
            background-color: $gray;

            div {
                background-color: $textOnDarkColor;
                border-radius: 0.5rem;
                width: 6rem;
                height: 0.25rem;
            }
        }
    }
}

.DetailsColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 767px) {
        background-color: $grayTransparent;
        backdrop-filter: blur(8px);
        align-items: center;
        padding: 2rem;
        box-sizing: border-box;
        height: 100%;
        touch-action: none;
    }


    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-weight: 800;
        font-size: 1.25rem;
        background: linear-gradient(0deg, $secondaryColor1 0%, $secondaryColor2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1.25rem;
    }

    h4 {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
    }
}