@import '../../../sassStyles/variables';

.Wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WrapperContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.TitleInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.TitleInput {
    appearance: none;    
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid $primaryColor1;
    padding: 1rem;
    width: 420px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    color: white;
    // background: linear-gradient(90deg, rgba(215,38,61,1) 0%, rgba(244,115,125,1) 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 640px) {
        width: 90vw;
    }
}

.SetPasswordContainer {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between;

    @media only screen and (max-width: 640px) {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    & > span {
        display: flex;
        gap: 1rem;
    }
}

.PasswordCheckbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: rgba(0,0,0,0);
    border: 1px solid #FFFDF7;
    cursor: pointer;

    &:checked {
        background-color: $primaryColor1;
        border: none;
    }
}

.PasswordInput {
    appearance: none;
    font-weight: 400;
    border: none;
    height: 2.25rem;
    width: 240px;
    text-align: left;
    border-radius: 0.25rem;
    padding: 0.125rem 0.75rem;
    font-size: 1rem;
}

.PasswordInput--disabled {
    background-color: rgba(255,253,247,0.05);
    color: #bbbbba;
}

.PasswordInput--enabled {
    background-color: rgba(255,253,247,0.1);
    color: #FFFDF7;
}

input::placeholder {
    color: #b8b8b8;
    opacity: 1;
}

.ColumnWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;

    @media only screen and (max-width: 640px) {
        flex-direction: column;
    }
}